---
- name: Install wireless drivers (netbook) - Debian, Ubuntu
  tags:
    - netbook
    - never
  ansible.builtin.package:
    name:
      - bcmwl-kernel-source
      - iwd
    state: present
    update_cache: false
  when: ansible_distribution in ["Debian", "Ubuntu"]
  become: true
  notify: "restart network"

- name: Install wireless drivers (netbook) - Arch
  tags:
    - netbook
    - never
  kewlfft.aur.aur:
    name:
      - b43-firmware-classic
      - iwd
    use: yay
    state: present
    update_cache: false
  when: ansible_distribution == "Archlinux"
  notify: "restart network"
  ignore_errors: true

- name: Install wireless drivers (samsung-expert)
  tags:
    - samsung-expert
    - never
  ansible.builtin.package:
    name:
      - broadcom-wl
      - iwd
    state: present
    update_cache: false
  when: ansible_distribution in ["Archlinux"]
  become: true
  notify: "restart network"

- name: Change default DNS server
  tags:
    - full-install
    - light-install
    - network
  ansible.builtin.lineinfile:
    path: /etc/systemd/resolved.conf
    state: present
    insertafter: "{{ item.insertafter }}"
    line: "{{ item.line }}"
  loop:
    - { insertafter: '\[Resolve\]', line: 'DNS=1.1.1.2' }
    - { insertafter: 'DNS=1.1.1.2', line: 'FallbackDNS=1.0.0.2' }
  become: true
