---
- name: Set cron variable when distribution is Archlinux
  tags:
    - full-install
    - light-install
    - cron
  ansible.builtin.set_fact:
    cron: cronie
  when: ansible_distribution == "Archlinux"

- name: Set cron variable when distribution is Ubuntu
  tags:
    - full-install
    - light-install
    - cron
  ansible.builtin.set_fact:
    cron: cron
  when: ansible_distribution == "Ubuntu"

- name: Install cron
  tags:
    - full-install
    - light-install
    - cron
  ansible.builtin.package:
    name: "{{ cron }}"
    state: present
    update_cache: false
  become: true

- name: start cron
  tags:
    - full-install
    - light-install
    - cron
  ansible.builtin.service:
    name: "{{ cron }}"
    state: started
    enabled: true
  become: true

- name: define MAILTO variable
  tags:
    - full-install
    - light-install
    - cron
  community.general.cronvar:
    name: MAILTO
    value: "{{ personal_email }}"
    state: present
