---
- name: install reflector
  tags:
    - full-install
    - light-install
    - packages
  ansible.builtin.package:
    name: reflector
  become: true
  when: ansible_distribution == "Archlinux"

- name: update pacman mirrorlist
  tags:
    - full-install
    - light-install
    - packages
  ansible.builtin.script: choose-mirror.sh
  become: true
  when: ansible_distribution == "Archlinux"

- name: copy file pacman.conf to /etc
  tags:
    - full-install
    - light-install
    - packages
  ansible.builtin.copy:
    src: pacman.conf
    dest: /etc
    owner: root
    group: root
    mode: 0644
  become: true
  when: ansible_distribution == "Archlinux"

- name: Set intel variable when distribution is Archlinux (if necessary)
  tags:
    - full-install
    - light-install
    - packages
  ansible.builtin.set_fact:
    intel: intel-ucode
  when: ansible_distribution == "Archlinux" and "GenuineIntel" in ansible_processor

- name: Set intel variable when distribution is Ubuntu (if necessary)
  tags:
    - full-install
    - light-install
    - packages
  ansible.builtin.set_fact:
    intel: intel-acm
  when: ansible_distribution == "Ubuntu" and "GenuineIntel" in ansible_processor

- name: Install microcode updates for intel (if necessary)
  tags:
    - full-install
    - light-install
    - packages
  ansible.builtin.package:
    name: "{{ intel }}"
    state: present
    update_cache: true
  become: true
  when: '"GenuineIntel" in ansible_facts["processor"]'

- name: Set amd variable when distribution is Archlinux (if necessary)
  tags:
    - full-install
    - light-install
    - packages
  ansible.builtin.set_fact:
    amd: amd-ucode
  when: ansible_distribution == "Archlinux" and "AuthenticAMD" in ansible_processor

- name: Set amd variable when distribution is Ubuntu (if necessary)
  tags:
    - processor-amd
    - never
  ansible.builtin.set_fact:
    amd: amd64-microcode
  when: ansible_distribution == "Ubuntu" and "AuthenticAMD" in ansible_processor

- name: Install microcode updates for amd (if necessary)
  tags:
    - processor-amd
    - never
  ansible.builtin.package:
    name: "{{ amd }}"
    state: present
    update_cache: true
  become: true
  when: '"AuthenticAMD" in ansible_facts["processor"]'

- name: Install nvidia drivers
  tags:
    - nvidia
    - never
  ansible.builtin.package:
    name: nvidia
    state: present
  when: ansible_distribution == "Archlinux"
  become: true

- name: remove packages
  tags:
    - full-install
    - light-install
    - packages
  ansible.builtin.package:
    name:
      - arch-install-scripts
      - archinstall
      - brltty
      - nano
      - htop
      - vim
      - openvpn
      - grml-zsh-config
      - zsh
      - virtualbox-guest-utils-nox
    state: absent
    update_cache: false
  become: true

- name: purge snapd in Ubuntu
  tags:
    - full-install
    - light-install
    - packages
  ansible.builtin.package:
    name:
      - snapd
    state: absent
  become: true
  when: ansible_distribution == "Ubuntu"

- name: install base packages and update cache
  tags:
    - full-install
    - light-install
    - packages
  ansible.builtin.package:
    name:
      - trash-cli
      - nethogs
      - man-db # Manpages
      - tldr # More concise man pages
    state: present
    update_cache: true
  become: true
