{%- if base_tailscale_auth_key_in_state -%}
{{ (base_tailscale_args + ' --authkey=' + base_tailscale_authkey) | trim | hash('sha256') }}
{% else %}
{{ base_tailscale_args | trim | hash('sha256') }}
{%- endif -%}
